
.idea/Project-3-464.iml
.idea/misc.xml
.idea/Project-3-464.iml
__pycache__/scan_chain.cpython-37.pyc
__pycache__/p2sim.cpython-37.pyc
__pycache__/genFaultList.cpython-37.pyc
.idea/dictionaries/jasmi.xml
__pycache__/circuit_sim_result.cpython-37.pyc
__pycache__/scan_chain_sim_result.cpython-37.pyc
.idea/dictionaries/jasmi.xml
__pycache__/testVectorUI.cpython-37.pyc
__pycache__/TVgen.cpython-37.pyc
simulator.txt
temp.txt
*.pyc
simulator.txt
